body{
    background-image: radial-gradient(circle, rgb(148, 241, 241) 20%, rgb(156, 216, 216) 40%, rgb(209, 226, 226) 65%);
      font-family: "Lucida Console", Monaco, monospace;
}
td{
    width: 40px;
    height: 40px;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
fieldset{
    display: inline-block;
}
.bigHR{
    border: none;
    height: 10px;
    color: brown;
    background-color: chocolate;
}
button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
